.app-div {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10%;
  padding-bottom: 3%;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0px 20px 40px rgba(214, 150, 150, 0.3), 0px -20px 40px rgba(214, 150, 150, 0.3), 20px 0px 40px rgba(214, 150, 150, 0.3), -20px 0px 40px rgba(214, 150, 150, 0.3);

}

h1 {
    text-align: center;
    text-decoration: underline;
}

.new-quote {
    text-align: center;
    margin-top: 1rem
}

.p-card {
    border: 2px solid black;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.text-div {
    text-align: center;
    margin-top: 5rem
}

.text-div > input {
    margin-top: 1rem;
    margin-bottom: 1rem;
}