.app-div {
  display: flex;
  justify-content: center;
}

h1 {
    text-align: center;
}

.new-quote {
    text-align: center;
    margin-top: 1rem
}

.text-div {
    text-align: center;
    margin-top: 5rem
}

.text-div > input {
    margin-top: 1rem;
    margin-bottom: 1rem;
}